{
  "presets": [
    "env"
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "@": "./src/assets",
        "&": "./",
        "~": "./src/assets/images"
      }
    }],
    ["import", { "libraryName": "vant", "style": true }]
  ]
}